[submodule "site-lisp/benchmark-init-el"]
	path = site-lisp/benchmark-init-el
	url = https://github.com/dholm/benchmark-init-el.git
[submodule "site-lisp/lsp-bridge"]
	path = site-lisp/lsp-bridge
	url = https://github.com/manateelazycat/lsp-bridge.git
[submodule "site-lisp/citre"]
	path = site-lisp/citre
	url = https://github.com/universal-ctags/citre.git
[submodule "site-lisp/emacs-application-framework"]
	path = site-lisp/emacs-application-framework
	url = https://github.com/emacs-eaf/emacs-application-framework.git
[submodule "site-lisp/hydra"]
	path = site-lisp/hydra
	url = https://github.com/abo-abo/hydra.git
[submodule "site-lisp/vundo"]
	path = site-lisp/vundo
	url = https://github.com/casouri/vundo.git
[submodule "site-lisp/emacs-chinese-word-segmentation"]
	path = site-lisp/emacs-chinese-word-segmentation
	url = https://github.com/kanglmf/emacs-chinese-word-segmentation.git
[submodule "site-lisp/no-littering"]
	path = site-lisp/no-littering
	url = https://github.com/emacscollective/no-littering.git
[submodule "site-lisp/iscroll"]
	path = site-lisp/iscroll
	url = https://github.com/casouri/iscroll.git
[submodule "site-lisp/avy"]
	path = site-lisp/avy
	url = https://github.com/abo-abo/avy.git
[submodule "site-lisp/flycheck"]
	path = site-lisp/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = https://github.com/magit/magit.git
[submodule "site-lisp/consult"]
	path = site-lisp/consult
	url = https://github.com/minad/consult.git
[submodule "site-lisp/vertico"]
	path = site-lisp/vertico
	url = https://github.com/minad/vertico.git
[submodule "site-lisp/marginalia"]
	path = site-lisp/marginalia
	url = https://github.com/minad/marginalia.git
[submodule "site-lisp/orderless"]
	path = site-lisp/orderless
	url = https://github.com/oantolin/orderless.git
[submodule "site-lisp/emacs-winum"]
	path = site-lisp/emacs-winum
	url = https://github.com/deb0ch/emacs-winum.git
[submodule "site-lisp/nerd-icons.el"]
	path = site-lisp/nerd-icons.el
	url = https://github.com/rainstormstudio/nerd-icons.el.git
[submodule "site-lisp/nerd-icons-dired"]
	path = site-lisp/nerd-icons-dired
	url = https://github.com/rainstormstudio/nerd-icons-dired.git
[submodule "site-lisp/treemacs-nerd-icons"]
	path = site-lisp/treemacs-nerd-icons
	url = https://github.com/rainstormstudio/treemacs-nerd-icons.git
[submodule "site-lisp/emacs-rime"]
	path = site-lisp/emacs-rime
	url = https://github.com/DogLooksGood/emacs-rime.git
[submodule "site-lisp/emacs-which-key"]
	path = site-lisp/emacs-which-key
	url = https://github.com/justbur/emacs-which-key.git
[submodule "site-lisp/org-modern-indent"]
	path = site-lisp/org-modern-indent
	url = https://github.com/jdtsmith/org-modern-indent.git
[submodule "site-lisp/helpful"]
	path = site-lisp/helpful
	url = https://github.com/Wilfred/helpful.git
[submodule "site-lisp/rainbow-delimiters"]
	path = site-lisp/rainbow-delimiters
	url = https://github.com/Fanael/rainbow-delimiters.git
[submodule "site-lisp/aggressive-indent-mode"]
	path = site-lisp/aggressive-indent-mode
	url = https://github.com/Malabarba/aggressive-indent-mode.git
[submodule "site-lisp/yasnippet"]
	path = site-lisp/yasnippet
	url = https://github.com/joaotavora/yasnippet.git
[submodule "site-lisp/puni"]
	path = site-lisp/puni
	url = https://github.com/AmaiKinono/puni.git
[submodule "site-lisp/diredfl"]
	path = site-lisp/diredfl
	url = https://github.com/purcell/diredfl.git
[submodule "site-lisp/highlight-indent-guides"]
	path = site-lisp/highlight-indent-guides
	url = https://github.com/DarthFennec/highlight-indent-guides.git
[submodule "site-lisp/dirvish"]
	path = site-lisp/dirvish
	url = https://github.com/alexluigit/dirvish.git
[submodule "site-lisp/combobulate"]
	path = site-lisp/combobulate
	url = https://github.com/mickeynp/combobulate.git
[submodule "site-lisp/fingertip"]
	path = site-lisp/fingertip
	url = https://github.com/manateelazycat/fingertip.git
[submodule "site-lisp/treesit-auto"]
	path = site-lisp/treesit-auto
	url = https://github.com/renzmann/treesit-auto.git
[submodule "site-lisp/org-roam"]
	path = site-lisp/org-roam
	url = https://github.com/org-roam/org-roam.git
[submodule "site-lisp/dired-preview"]
	path = site-lisp/dired-preview
	url = https://git.sr.ht/~protesilaos/dired-preview
[submodule "site-lisp/org-visual-outline"]
	path = site-lisp/org-visual-outline
	url = https://github.com/legalnonsense/org-visual-outline.git
[submodule "site-lisp/symbol-overlay"]
	path = site-lisp/symbol-overlay
	url = https://github.com/wolray/symbol-overlay.git
[submodule "site-lisp/emacsql"]
	path = site-lisp/emacsql
	url = https://github.com/magit/emacsql.git
[submodule "site-lisp/org-modern"]
	path = site-lisp/org-modern
	url = https://github.com/minad/org-modern.git
[submodule "site-lisp/org-appear"]
	path = site-lisp/org-appear
	url = https://github.com/awth13/org-appear.git
[submodule "site-lisp/org-bars"]
	path = site-lisp/org-bars
	url = https://github.com/tonyaldon/org-bars.git
[submodule "site-lisp/holo-layer"]
	path = site-lisp/holo-layer
	url = https://github.com/manateelazycat/holo-layer.git
[submodule "site-lisp/compat"]
	path = site-lisp/compat
	url = https://github.com/emacs-compat/compat.git
[submodule "site-lisp/mwim.el"]
	path = site-lisp/mwim.el
	url = https://github.com/alezost/mwim.el.git
[submodule "site-lisp/with-editor"]
	path = site-lisp/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "site-lisp/emacs-immersive-translate"]
	path = site-lisp/emacs-immersive-translate
	url = https://github.com/Elilif/emacs-immersive-translate.git
[submodule "site-lisp/valign"]
	path = site-lisp/valign
	url = https://github.com/casouri/valign.git
[submodule "site-lisp/flymake-flycheck"]
	path = site-lisp/flymake-flycheck
	url = https://github.com/purcell/flymake-flycheck.git
[submodule "site-lisp/shrink-path.el"]
	path = site-lisp/shrink-path.el
	url = https://gitlab.com/bennya/shrink-path.el.git
[submodule "site-lisp/auctex"]
	path = site-lisp/auctex
	url = https://git.savannah.gnu.org/git/auctex.git
[submodule "site-lisp/lsp-treemacs"]
	path = site-lisp/lsp-treemacs
	url = https://github.com/emacs-lsp/lsp-treemacs.git
[submodule "site-lisp/lsp-ui"]
	path = site-lisp/lsp-ui
	url = https://github.com/emacs-lsp/lsp-ui.git
[submodule "site-lisp/verilog-mode"]
	path = site-lisp/verilog-mode
	url = https://github.com/veripool/verilog-mode.git
[submodule "site-lisp/corfu"]
	path = site-lisp/corfu
	url = https://github.com/minad/corfu
[submodule "site-lisp/posframe"]
	path = site-lisp/posframe
	url = https://github.com/tumashu/posframe.git
[submodule "site-lisp/kind-icon"]
	path = site-lisp/kind-icon
	url = https://github.com/jdtsmith/kind-icon.git
[submodule "site-lisp/consult-lsp"]
	path = site-lisp/consult-lsp
	url = https://github.com/gagbo/consult-lsp.git
[submodule "site-lisp/rainbow-mode"]
	path = site-lisp/rainbow-mode
	url = https://github.com/emacsmirror/rainbow-mode.git
[submodule "site-lisp/elisp-refs"]
	path = site-lisp/elisp-refs
	url = https://github.com/Wilfred/elisp-refs.git
[submodule "site-lisp/s.el"]
	path = site-lisp/s.el
	url = https://github.com/magnars/s.el.git
[submodule "site-lisp/pdf-tools"]
	path = site-lisp/pdf-tools
	url = https://github.com/vedang/pdf-tools.git
[submodule "site-lisp/tablist"]
	path = site-lisp/tablist
	url = https://github.com/politza/tablist.git
[submodule "site-lisp/treemacs"]
	path = site-lisp/treemacs
	url = https://github.com/Alexander-Miller/treemacs.git
[submodule "site-lisp/pfuture"]
	path = site-lisp/pfuture
	url = https://github.com/Alexander-Miller/pfuture.git
[submodule "site-lisp/frame-local"]
	path = site-lisp/frame-local
	url = https://github.com/sebastiencs/frame-local.git
[submodule "site-lisp/nov.el"]
	path = site-lisp/nov.el
	url = https://depp.brause.cc/nov.el.git
[submodule "site-lisp/nov-xwidget"]
	path = site-lisp/nov-xwidget
	url = https://github.com/chenyanming/nov-xwidget.git
[submodule "site-lisp/visual-regexp.el"]
	path = site-lisp/visual-regexp.el
	url = https://github.com/benma/visual-regexp.el.git
[submodule "site-lisp/meow"]
	path = site-lisp/meow
	url = https://github.com/meow-edit/meow.git
[submodule "site-lisp/cape"]
	path = site-lisp/cape
	url = https://github.com/minad/cape.git
[submodule "site-lisp/--force"]
	path = site-lisp/--force
	url = https://github.com/rejeep/f.el
[submodule "site-lisp/--froce"]
	path = site-lisp/--froce
	url = https://github.com/Wilfred/ht.el
[submodule "site-lisp/ht.el"]
	path = site-lisp/ht.el
	url = https://github.com/Wilfred/ht.el
[submodule "site-lisp/f.el"]
	path = site-lisp/f.el
	url = https://github.com/rejeep/f.el
[submodule "site-lisp/dash.el"]
	path = site-lisp/dash.el
	url = https://github.com/magnars/dash.el
[submodule "site-lisp/spinner.el"]
	path = site-lisp/spinner.el
	url = https://github.com/Malabarba/spinner.el
[submodule "site-lisp/markdown-mode"]
	path = site-lisp/markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
[submodule "site-lisp/lsp-mode"]
	path = site-lisp/lsp-mode
	url = https://github.com/emacs-lsp/lsp-mode.git
[submodule "site-lisp/themes"]
	path = site-lisp/themes
	url = https://github.com/doomemacs/themes.git
[submodule "site-lisp/highlight-numbers"]
	path = site-lisp/highlight-numbers
	url = https://github.com/Fanael/highlight-numbers.git
[submodule "site-lisp/paren-face"]
	path = site-lisp/paren-face
	url = https://github.com/tarsius/paren-face.git
[submodule "site-lisp/breadcrumb"]
	path = site-lisp/breadcrumb
	url = https://github.com/joaotavora/breadcrumb.git
[submodule "site-lisp/pyim"]
	path = site-lisp/pyim
	url = https://github.com/tumashu/pyim.git
[submodule "site-lisp/blink-search"]
	path = site-lisp/blink-search
	url = https://github.com/manateelazycat/blink-search.git
[submodule "site-lisp/latex-extra"]
	path = site-lisp/latex-extra
	url = https://github.com/Malabarba/latex-extra.git
[submodule "site-lisp/verilog-ext"]
	path = site-lisp/verilog-ext
	url = https://github.com/gmlarumbe/verilog-ext.git
[submodule "site-lisp/emacs-kaolin-themes"]
	path = site-lisp/emacs-kaolin-themes
	url = https://github.com/ogdenwebb/emacs-kaolin-themes.git
[submodule "site-lisp/centaur-tabs"]
	path = site-lisp/centaur-tabs
	url = https://github.com/ema2159/centaur-tabs.git
[submodule "site-lisp/powerline"]
	path = site-lisp/powerline
	url = https://github.com/milkypostman/powerline.git
[submodule "site-lisp/jupyter"]
	path = site-lisp/jupyter
	url = https://github.com/emacs-jupyter/jupyter.git
[submodule "site-lisp/emacs-websocket"]
	path = site-lisp/emacs-websocket
	url = https://github.com/ahyatt/emacs-websocket.git
[submodule "site-lisp/emacs-web-server"]
	path = site-lisp/emacs-web-server
	url = https://github.com/skeeto/emacs-web-server
[submodule "site-lisp/emacs-zmq"]
	path = site-lisp/emacs-zmq
	url = http://github.com/nnicandro/emacs-zmq
[submodule "site-lisp/ef-themes"]
	path = site-lisp/ef-themes
	url = https://github.com/protesilaos/ef-themes.git
[submodule "site-lisp/esxml"]
	path = site-lisp/esxml
	url = https://github.com/tali713/esxml.git
[submodule "site-lisp/visual-fill-column"]
	path = site-lisp/visual-fill-column
	url = https://codeberg.org/joostkremers/visual-fill-column.git
[submodule "site-lisp/yuck-mode"]
	path = site-lisp/yuck-mode
	url = https://github.com/mmcjimsey26/yuck-mode.git
[submodule "site-lisp/embark"]
	path = site-lisp/embark
	url = https://github.com/oantolin/embark.git
[submodule "site-lisp/popper"]
	path = site-lisp/popper
	url = https://github.com/karthink/popper.git
[submodule "site-lisp/persp-mode.el"]
	path = site-lisp/persp-mode.el
	url = https://github.com/Bad-ptr/persp-mode.el.git
[submodule "site-lisp/indent-bars"]
	path = site-lisp/indent-bars
	url = https://github.com/jdtsmith/indent-bars.git
[submodule "site-lisp/flymake-bridge"]
	path = site-lisp/flymake-bridge
	url = https://github.com/liuyinz/flymake-bridge.git
[submodule "site-lisp/pass"]
	path = site-lisp/pass
	url = https://github.com/NicolasPetton/pass.git
[submodule "site-lisp/password-store-otp.el"]
	path = site-lisp/password-store-otp.el
	url = https://github.com/volrath/password-store-otp.el.git
[submodule "site-lisp/password-store"]
	path = site-lisp/password-store
	url = https://git.zx2c4.com/password-store
[submodule "site-lisp/eldoc-box"]
	path = site-lisp/eldoc-box
	url = https://github.com/casouri/eldoc-box
[submodule "site-lisp/cdlatex"]
	path = site-lisp/cdlatex
	url = https://github.com/cdominik/cdlatex.git
[submodule "site-lisp/org-margin"]
	path = site-lisp/org-margin
	url = https://github.com/rougier/org-margin
[submodule "site-lisp/svg-lib"]
	path = site-lisp/svg-lib
	url = https://github.com/rougier/svg-lib.git
[submodule "site-lisp/emacs-lsp-booster"]
	path = site-lisp/emacs-lsp-booster
	url = https://github.com/blahgeek/emacs-lsp-booster.git
[submodule "site-lisp/nerd-icons-corfu"]
	path = site-lisp/nerd-icons-corfu
	url = https://github.com/LuigiPiucco/nerd-icons-corfu.git
[submodule "site-lisp/eglot-booster"]
	path = site-lisp/eglot-booster
	url = https://github.com/jdtsmith/eglot-booster.git
[submodule "site-lisp/consult-eglot"]
	path = site-lisp/consult-eglot
	url = https://github.com/mohkale/consult-eglot.git
[submodule "site-lisp/dape"]
	path = site-lisp/dape
	url = https://github.com/svaante/dape.git
[submodule "site-lisp/pangu-spacing"]
	path = site-lisp/pangu-spacing
	url = https://github.com/coldnew/pangu-spacing.git
[submodule "site-lisp/deno-bridge-jieba"]
	path = site-lisp/deno-bridge-jieba
	url = https://github.com/ginqi7/deno-bridge-jieba.git
[submodule "site-lisp/ag.el"]
	path = site-lisp/ag.el
	url = https://github.com/Wilfred/ag.el.git
[submodule "site-lisp/ripgrep.el"]
	path = site-lisp/ripgrep.el
	url = https://github.com/nlamirault/ripgrep.el.git
[submodule "site-lisp/verilog-ts-mode"]
	path = site-lisp/verilog-ts-mode
	url = https://github.com/gmlarumbe/verilog-ts-mode.git
[submodule "site-lisp/emacs-async"]
	path = site-lisp/emacs-async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "site-lisp/outshine"]
	path = site-lisp/outshine
	url = https://github.com/alphapapa/outshine.git
[submodule "site-lisp/outorg"]
	path = site-lisp/outorg
	url = https://github.com/alphapapa/outorg.git
[submodule "site-lisp/apheleia"]
	path = site-lisp/apheleia
	url = https://github.com/radian-software/apheleia.git
[submodule "site-lisp/dired-sidebar"]
	path = site-lisp/dired-sidebar
	url = https://github.com/jojojames/dired-sidebar.git
[submodule "site-lisp/dired-hacks"]
	path = site-lisp/dired-hacks
	url = https://github.com/Fuco1/dired-hacks.git
[submodule "site-lisp/LaTeX-auto-activating-snippets"]
	path = site-lisp/LaTeX-auto-activating-snippets
	url = https://git.tecosaur.net/tec/LaTeX-auto-activating-snippets.git
[submodule "site-lisp/emacs-eat"]
	path = site-lisp/emacs-eat
	url = https://codeberg.org/akib/emacs-eat.git
[submodule "site-lisp/exec-path-from-shell"]
	path = site-lisp/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell.git
[submodule "tree-sitter-module"]
	path = tree-sitter-module
	url = https://github.com/casouri/tree-sitter-module.git
[submodule "site-lisp/tempel"]
	path = site-lisp/tempel
	url = https://github.com/minad/tempel.git
[submodule "site-lisp/colorful-mode"]
	path = site-lisp/colorful-mode
	url = https://github.com/DevelopmentCool2449/colorful-mode.git
[submodule "site-lisp/wavedrom-mode"]
	path = site-lisp/wavedrom-mode
	url = https://github.com/gmlarumbe/wavedrom-mode.git
[submodule "site-lisp/fpga"]
	path = site-lisp/fpga
	url = https://github.com/gmlarumbe/fpga.git
[submodule "site-lisp/lspce"]
	path = site-lisp/lspce
	url = https://github.com/zbelial/lspce.git
[submodule "site-lisp/devdocs.el"]
	path = site-lisp/devdocs.el
	url = https://github.com/astoff/devdocs.el.git
[submodule "site-lisp/cuda-mode"]
	path = site-lisp/cuda-mode
	url = https://github.com/chachi/cuda-mode.git
[submodule "site-lisp/math-preview"]
	path = site-lisp/math-preview
	url = https://gitlab.com/matsievskiysv/math-preview.git
[submodule "site-lisp/treesit-fold"]
	path = site-lisp/treesit-fold
	url = https://github.com/emacs-tree-sitter/treesit-fold.git
[submodule "site-lisp/emacs-format-all-the-code"]
	path = site-lisp/emacs-format-all-the-code
	url = https://github.com/lassik/emacs-format-all-the-code.git
[submodule "site-lisp/separedit.el"]
	path = site-lisp/separedit.el
	url = https://github.com/twlz0ne/separedit.el.git
[submodule "site-lisp/haki"]
	path = site-lisp/haki
	url = https://github.com/idlip/haki.git
[submodule "site-lisp/Emacs-VSCode-Default-High-Contrast"]
	path = site-lisp/Emacs-VSCode-Default-High-Contrast
	url = https://github.com/komali2/Emacs-VSCode-Default-High-Contrast.git
[submodule "site-lisp/ace-window"]
	path = site-lisp/ace-window
	url = https://github.com/abo-abo/ace-window.git
[submodule "site-lisp/standard-themes"]
	path = site-lisp/standard-themes
	url = https://github.com/protesilaos/standard-themes.git
[submodule "site-lisp/embark-consult"]
	path = site-lisp/embark-consult
	url = https://github.com/emacs-straight/embark-consult.git
[submodule "site-lisp/nord"]
	path = site-lisp/nord
	url = https://github.com/nordtheme/emacs.git
[submodule "site-lisp/org-zettel-ref-mode"]
	path = site-lisp/org-zettel-ref-mode
	url = https://github.com/yibie/org-zettel-ref-mode.git
[submodule "site-lisp/ebib"]
	path = site-lisp/ebib
	url = https://github.com/joostkremers/ebib.git
[submodule "site-lisp/citar"]
	path = site-lisp/citar
	url = https://github.com/emacs-citar/citar.git
[submodule "site-lisp/org-roam-bibtex"]
	path = site-lisp/org-roam-bibtex
	url = https://github.com/org-roam/org-roam-bibtex.git
[submodule "site-lisp/denote"]
	path = site-lisp/denote
	url = https://github.com/protesilaos/denote.git
[submodule "site-lisp/citar-denote"]
	path = site-lisp/citar-denote
	url = https://github.com/pprevos/citar-denote.git
[submodule "site-lisp/denote-explore"]
	path = site-lisp/denote-explore
	url = https://github.com/pprevos/denote-explore.git
[submodule "site-lisp/parsebib"]
	path = site-lisp/parsebib
	url = https://github.com/joostkremers/parsebib.git
[submodule "site-lisp/emacs-load-relative"]
	path = site-lisp/emacs-load-relative
	url = https://github.com/rocky/emacs-load-relative.git
[submodule "site-lisp/org-noter"]
	path = site-lisp/org-noter
	url = https://github.com/weirdNox/org-noter.git
[submodule "site-lisp/color-theme-sanityinc-tomorrow"]
	path = site-lisp/color-theme-sanityinc-tomorrow
	url = https://github.com/purcell/color-theme-sanityinc-tomorrow.git
