custom.el
history
places
recentf
var/*
elpa/*
eln-cache/*
tree-sitter/*
dirvish/*
eaf/*
org-roam.db
transient
.lsp*
**/auto/
blink-search.db
*~
\#*\#
.cask/
**/*.elc
tramp
server
dump.el
temp.el
themes
loaddefs.el
