auto-save-list/
bookmarks
.cache/
.ccls-cache/
eaf/
.dap-breakpoints
eshell/
elpa/
.emacs.desktop
eln-cache/
.lsp-session-v1/
.mc-lists.el
nov-places
.org-id-locations
places
recentf
tramp
transient/
snippets/
tutorial/
.lsp-session-v1
configuration.el
history
*\~